{% extends 'admin/layout.html' %}
{% from 'bootstrap4/form.html' import render_form %}
{% block content %}
<h1 class="mt-4">CATEGORIAS</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Categorias</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Nuevo Registro
    </div>
    <div class="card-body">
        {{render_form(form)}}
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Categorias
    </div>
    <div class="card-body">
        {{macros.mostrar_tabla_catalogo(categorias)}}
    </div>
</div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<script src="{{url_for('static',filename='plugins/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='plugins/jquery-tabledit-1.2.3/jquery.tabledit.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        console.log("ejecutando jquery...")
        $('#dataTable').Tabledit({
            deleteButton:true,
            editButton:true,
            restoreButton:false,
            columns:{
                identifier: [0,'id'],
                editable: [[1,'descripcion']]
            },
            url: "",
            buttons:{
                edit:{
                    class:'btn btn-primary',
                    html:'<i class="bi bi-pencil-fill"></i>',
                    action:'edit'
                },
                delete:{
                    class:'btn btn-danger',
                    html:'<i class="bi bi-trash-fill"></i>',
                    action:'delete'
                },
                save:{
                    class:'btn btn-success',
                    html:'Guardar'
                },
                confirm:{
                    class:'btn btn-success',
                    html:'Confirmar'
                }
            }
        })
    })
</script>
{% endblock %}