{% extends 'admin/layout.html' %}
{% from 'bootstrap4/form.html' import render_form %}
{% block content %}
<h1 class="mt-4">MODALIDAD DE TRABAJO</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Modalidad</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Nuevo Registro
    </div>
    <div class="card-body">
        {{render_form(form)}}
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Modalidad
    </div>
    <div class="card-body">
        {{macros.mostrar_tabla_catalogo(modalidades)}}
    </div>
</div>
{% endblock %}